/* .form-container {
    max-width: 300px;
    max-height: 300px;
    margin: 30px auto;
    padding: 20px;
    border: 3px solid #ff5500;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color:rgb(247, 105, 11);
  }
  

  
  .form-control {
    border-radius: 10px;
  }
  
  
  .btn-info {
    background-color: white;
    border-color: #007bff;
    width: 200px;
   margin-left: 30px;
   border-radius: 20px;
   
   
  }
  
  .btn-info:hover {
    background-color:#ffbf00;
    border-color: #0062cc;
  }
.ForgetPWD{
    text-align-last: right;
} */