:root {
    --body-background: #f9a539;
    --primary-color: #ff6347;
    --secondary-color: #ff8c00;
    --accent-color: #fff7e6;
    --text-color: #333333;
    --heading-color: #d34d3c;
    --button-color: #ff4500;
    --hover-color: #ff6a1f;
    --footer-background: #f1f1f1;
    --border-color: #ddd;
    --font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: var(--body-background);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
  }
  
  .StaffEmailVerify-otp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    padding: 20px;
  }
  
  .StaffEmailVerify-otp-card {
    background-color: var(--accent-color);
    max-width: 600px;
    width: 100%;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: var(--text-color);
     
  }
  
  .StaffEmailVerify-text-center {
    text-align: center;
    color: var(--heading-color);
    margin-bottom: 20px;
    font-size: 34px;
  }
  
  .StaffEmailVerify-form-group label {
    font-weight: bold;
    color: var(--text-color);
  }
  
  .StaffEmailVerify-form-group input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 14px;
  }
  
  .StaffEmailVerify-form-group input:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 5px var(--primary-color);
  }
  
  .StaffEmailVerify-btn {
    background-color: var(--button-color);
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .StaffEmailVerify-btn:hover {
    background-color: var(--hover-color);
  }
  
   
  
  @media (max-width: 480px) {
    .StaffEmailVerify-otp-card {
      width: 350px;
      padding: 0px 0px;
      height: 250px;
    }
  
    .StaffEmailVerify-text-center {
      font-size:25px;
    }
    .StaffEmailVerify-otp-container{
      padding: 0px;
       
    }
  }
  